Welcome to Instagram

<ul>
  <li><%= link_to new_user_registration_path do%>
      sign up
    <% end %>
  </li>
  <li><%= link_to new_user_session_path do%>
      sign in
    <% end %>
  </li>
</ul>
