.new_post {
  width: 60%;
  margin: auto;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  background-color: white;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
}

#post_title {
  margin-left: 0.8em;
  margin-right: 0.4em;
}

#post_image {
  margin: auto;
}

#form_submit {
  display: inline-block;
  font: "Palatino";
  float: right;
  right: 0;
  width: 8em;
  margin-right: 0.8em;
}
